html, body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}


html.dialog,body.dialog {
    background: #ffffff;
}

.error-main {
    margin: 10% auto;
    max-width: 80%;
    background: #fff;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

body.dialog .error-main{
    margin: 0 auto;
    max-width: 100%;
    background: #fff;
    height: 300px;
    text-align: center;
}


.error-main .icon {
    font-size: 0;
    text-align: center;
}

.error-main .icon img {
    height: 130px;
}

.error-main .name {
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding-top: 30px;
    padding-bottom: 20px;
}

.error-main .note {
    width: auto;
    height: auto;
    font-size: 14px;
    color: #666;
    padding-top: 10px;
}

.error-main .note span {
    color: #ec0000;
    padding: 0 5px;
}

.error-main .note a {
    color: #316BE6;
}