body, html {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: '微软雅黑';
    color: #666;
    font-size: 14px
}

html.dialog,body.dialog {
    background: #ffffff;
}


.box {
    padding: 0;
    width: 500px;
    margin: 40px auto 60px auto;
}

.msg {
    line-height: 26px;
    font-size: 18px;
    padding: 0 20px;
    text-align: left;
    position: relative;
}

.msg p {
    display: inline-block;
    padding-left: 50px;
}

.face {
    position: absolute;
    top: 8px;
    transform: rotate(90deg);
    color: #27d073;
    text-align: center;
    width: 42px;
    height: 42px;
    line-height: 35px;
    display: inline-block;
    font-size: 36px;
}

.auto-back {
    padding-top: 10px;
    text-align: center;
}

.auto-back a {
    color: #3da9ee;
}