@font-face{font-family:YeeFont;src:url(font/YeeFont.eot);src:url(font/YeeFont.eot?#iefix) format("embedded-opentype"),url(font/YeeFont.woff) format("woff"),url(font/YeeFont.ttf) format("truetype"),url(font/YeeFont.svg#uxfonteditor) format("svg")}
.yee-form-header{height:50px;line-height:50px;border-bottom:1px solid #e4eaec;font-size:18px;padding:0 20px}
.yee-form-header .yee-title{display:inline-block}
.yee-form-header .yee-title.none{display:none}
.yee-panel{margin-bottom:15px;border-radius:3px;background:#fff;padding:15px 20px;box-shadow:0 0 2px gray(0,.05)}
.yee-panel .panel-caption{border-bottom:1px solid #e4eaec;line-height:40px;position:relative}
.yee-panel .panel-caption h3{font-size:16px;color:#555}
.yee-panel .panel-caption i{color:#32a3ff;float:left;margin:15px 10px 0 3px}
.yee-panel .panel-content{padding-top:15px}
.yee-row{line-height:30px;background:#FFF;clear:both;display:table;border:0;width:100%;margin:0;padding:0}
.yee-row.none{display:none}
.yee-row .row-caption{text-align:right;vertical-align:top;width:200px}
.yee-row .row-cell,.yee-row .row-label{display:table-cell;font-weight:400;text-align:left;padding:3px 0;vertical-align:middle}
.yee-row .row-cell.none,.yee-row .row-label.none{display:none}
.yee-row .row-label{width:200px;text-align:right;vertical-align:top}
.yee-row .row-label em{font-style:normal;margin-left:5px}
.yee-row .row-label em:before{content:'*';color:#E84C3D;margin-right:5px}
.yee-row .row-inline{display:inline-block;padding:0;margin-left:10px}
.yee-row .row-inline.none{display:none}
.yee-row .row-inline :first-child{margin-left:0}
.yee-container-title{display:block;margin-left:0;background:#f8f8f8;line-height:28px}
.yee-container-title.none{display:none}
.yee-container-title .inline-label{display:inline-block;font-weight:400;text-align:left;padding:0;vertical-align:middle;width:auto}
.yee-container-title .inline-label.none{display:none}
.yee-container-body{display:block;border:1px #eee dotted;padding:5px 8px}
.yee-container-body .yee-row .row-label{width:180px}
.yee-row-inline{display:inline-block;margin:0;padding:0}
.yee-row-inline.none{display:none}
.yee-row-inline .inline-cell,.yee-row-inline .inline-label{display:inline-block;font-weight:400;text-align:left;padding:0;vertical-align:middle;width:auto}
.yee-row-inline .inline-cell.none,.yee-row-inline .inline-label.none{display:none}
.yee-row-inline .inline-label em{font-style:normal;margin-left:5px}
.yee-row-inline .inline-label em:before{content:'*';color:#E84C3D;margin-right:5px}
.yee-line{line-height:30px;padding:0 20px;border-left:3px #1E9FFF solid}
.yee-row-column{display:inline-block;margin:0;padding:0}
.yee-line label.line-label{color:#333;font-weight:700;display:inline-block;line-height:30px}
.yee-line label.line-label.none{display:none}
.yee-line .line-tips{line-height:16px;color:#909090;display:inline-block;padding:3px 15px 0 15px}
.yee-line .line-tips.none{display:none}
.yee-submit{padding:15px 0 30px 0;line-height:30px;clear:both;display:table}
.yee-submit.none{display:none}
.yee-submit .submit-cell,.yee-submit .submit-label{display:table-cell;font-weight:400;text-align:left;padding:3px 0;vertical-align:middle}
.yee-submit .submit-cell.none,.yee-submit .submit-label.none{display:none}
.yee-submit .submit-label{width:200px}
.yee-submit .form-btn{margin-right:10px}
.form-inp{border:.5px solid #e1e1e1;border-radius:3px;line-height:18px;padding:5px 10px;transition:all .2s;outline:0;vertical-align:middle}
.form-inp[type=checkbox]{margin-right:5px;margin-left:3px;vertical-align:middle;cursor:pointer}
.form-inp[type=checkbox]+span{padding:0 5px 0 25px;margin-left:-22px;line-height:24px;border:.5px transparent dashed;box-sizing:border-box}
.form-inp[type=checkbox]:after{font-family:YeeFont!important;content:"";line-height:12px;height:14px;width:14px;display:inline-block;background:#FFF;border:.5px #e1e1e1 solid;border-radius:1px;color:#999;font-size:18px;margin-left:-1px;margin-top:-8px;text-align:center;vertical-align:middle}
.form-inp[type=checkbox]:after.none{display:none}
.form-inp[type=checkbox]:hover:after{border:1px #62b3ff solid}
.form-inp[type=checkbox]:checked:after{content:"\f0f4";color:#52a3ff}
.form-inp[type=checkbox]:disabled:after{color:#999;background:#EEE}
.form-inp[type=checkbox]:disabled:hover:after{border:1px #dbdbdb solid}
.form-inp[type=radio]{margin-right:6px;margin-left:2px;vertical-align:middle;cursor:pointer}
.form-inp[type=radio]+span{padding:0 5px 0 25px;margin-left:-22px;line-height:24px;border:.5px transparent dashed;box-sizing:border-box}
.form-inp[type=radio]:after{font-family:YeeFont!important;content:"";line-height:18px;height:16px;width:16px;display:inline-block;background:#FFF;border:.5px #dbdbdb solid;border-radius:9px;color:#999;font-size:14px;margin-left:-2px;margin-top:-8px;text-align:center;vertical-align:middle}
.form-inp[type=radio]:after.none{display:none}
.form-inp[type=radio]:hover:after{border:.5px #62b3ff solid}
.form-inp[type=radio]:checked:after{content:"\f104";color:#52a3ff}
.form-inp[type=radio]:disabled:after{color:#999;background:#EEE}
.form-inp[type=radio]:disabled:hover:after{border:.5px #dbdbdb solid}
.form-inp:focus{border:.5px solid #62b3ff}
.form-inp.small{line-height:14px;padding:3px 5px}
.form-inp.sinteger,.form-inp.snumber{width:60px}
.form-inp.integer,.form-inp.number{width:100px}
.form-inp.text{width:240px}
.form-inp.textarea{width:420px;outline:0;vertical-align:top}
.form-inp.xh-editor{height:280px}
.form-inp.datetime{width:160px}
.form-inp.date{width:140px}
.form-inp.linkage{margin-right:5px}
.form-inp.date,.form-inp.datetime{background-image:url(img/yee.date.png);background-position:right 5px center;background-repeat:no-repeat}
.form-inp.upload{width:260px;vertical-align:middle;border-bottom-left-radius:0;border-top-left-radius:0;margin-left:-13px}
.label-inp{position:relative}
.label-inp input{display:none}
.label-inp .form-inp[type=radio]:after,.label-inp .form-inp[type=checkbox]:after{display:none}
.label-inp .form-inp[type=radio]+span,.label-inp .form-inp[type=checkbox]+span{border:1px #ddd solid;display:inline-block;padding:0 15px 0 15px;margin-right:6px;margin-bottom:2px;background:#fff;white-space:nowrap;margin-left:0;cursor:pointer}
.label-inp .form-inp[type=radio]:checked+span,.label-inp .form-inp[type=checkbox]:checked+span{border:1px #11bbca solid;box-sizing:content-box;display:inline-block;background-color:#ebf8fb;color:#0fa7b4;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1Ij4KPHBhdGggZD0iIE0gMCAwIEwgMjAwIDAgTCAyMDAgMjAwIEwgMCAwIFogIiBmaWxsPSJyZ2IoNDEsMTg5LDE4NSkiLz4KPHBhdGggZD0iIE0gOTggNDkgTCA4OCA2MCBMIDEyNiA5NSBMIDE4NyAyMiBMIDE3NiAxMyBMIDEyNSA3NSBMIDk4IDQ5IFogIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPg==);background-repeat:no-repeat;background-position:top right}
select.form-inp{background:#FFF;padding:0 10px;line-height:28px;height:30px}
select.form-inp option{background:#FFF}
.row-cell .yee-row-inline{margin-left:10px}
.container-item{padding:2px 0}
.container-item .yee-row-inline:first-child{margin-left:0}
.xheLayout{line-height:22px}/*# sourceMappingURL=form.css.map */