<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(?!(static/|yeeui/|upfiles/))[^\.]*(\.json)?$ index.php/$0 [QSA,PT,L]
</IfModule>
