<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="home">
                    <match url="^(?!static/|yeeui/|upfiles/)[^\.]*(\.json|\.html)?$" ignoreCase="true"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/index.php/{R:0}"/>
                </rule>
                <rule name="thumbnail">
                    <match url="^(upfiles/images/)(\d+)_(\d+)x(\d+)_(\d)\.(jpg|jpeg|png|gif)?$" ignoreCase="true"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/thumbnail.php?file={R:0}"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
