@charset "utf-8";
@font-face {
  font-family: "YeeFont";
  src: url("font/YeeFont.eot");
  /* IE9 */
  src: url("font/YeeFont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("font/YeeFont.woff") format("woff"), /* chrome firefox */ url("font/YeeFont.ttf") format("truetype"), /* chrome firefox opera safari, Android, iOS 4.2+ */ url("font/YeeFont.svg#uxfonteditor") format("svg");
  /* iOS 4.1- */
}
html {
  background: #fff;
  color: #000;
}
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body,
button,
input,
select,
textarea {
  font: 12px "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}
input,
select,
textarea {
  font-size: 100%;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: none;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:after,
q:before {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a:hover {
  text-decoration: none;
}
a,
ins {
  text-decoration: none;
}
:focus,
a:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
q:after,
q:before {
  content: '';
}
abbr,
acronym {
  border: 0;
}
.mf {
  font-family: Consolas, Monaco, monospace;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.fb {
  font-weight: 700;
}
.fn {
  font-weight: 400;
}
.t2 {
  text-indent: 2em;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.cb {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
*html .clearfix {
  height: 1%;
}
.clear {
  display: block;
  height: 0px;
  clear: both;
}
.vm {
  vertical-align: center;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.abs-right {
  position: absolute;
  right: 0;
}
.zoom {
  zoom: 1;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.block {
  display: block;
}
.ftx-01 {
  color: #707070;
}
.ftx-02 {
  color: #333 !important;
}
.ftx-03 {
  color: #62b3ff;
}
.blue_bg:hover,
.blue_btn:hover {
  background-color: #31b4e1;
  color: #fff;
}
.green_bg {
  background-color: #0C0;
}
.blue2_bg {
  background-color: #09C;
}
.violet_bg {
  background-color: #C69;
}
.orange_bg {
  background-color: #F60;
}
.gray_bg {
  background-color: #bfbfbf;
}
.yellow_bg {
  background-color: #ffd031;
}
.red_bg {
  background-color: red;
}
.org {
  color: #F90;
}
.org2 {
  color: #f3a43d;
}
.org3 {
  color: #F60;
}
.red {
  color: red;
}
.red2 {
  color: #ec5151;
}
.red3 {
  color: #C00;
}
.blue {
  color: #32a3ff;
}
.blue2 {
  color: #0071E1;
}
.navy {
  color: #009B9B;
}
.navy2 {
  color: #707070;
}
.green {
  color: #2FBC5E;
}
.green2 {
  color: #1f7e3f;
}
.yellow {
  color: #C60;
}
.gray {
  color: #666;
}
.gray2 {
  color: #999;
}
.gray3 {
  color: #ccc;
}
.violet {
  color: #cc5dcb;
}
.violet2 {
  color: #7023ab;
}
.violet3 {
  color: #C69;
}
.bor_bt_das {
  border-bottom: 1px dashed #dcdcdc;
}
.bor_top_das {
  border-top: 1px dashed #dcdcdc;
}
.bor_top_not {
  border-top: 0 !important;
}
.s_org {
  color: #fff;
  background: #F90;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_org2 {
  color: #fff;
  background: #f3a43d;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_org3 {
  color: #fff;
  background: #F60;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_red {
  color: #fff;
  background: red;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_red2 {
  color: #fff;
  background: #ec5151;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_red3 {
  color: #fff;
  background: #C00;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_blue {
  color: #fff;
  background: #32a3ff;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_blue2 {
  color: #fff;
  background: #0071E1;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_navy {
  color: #fff;
  background: #009B9B;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_navy2 {
  color: #fff;
  background: #707070;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_green {
  color: #fff;
  background: #4AC16C;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_green2 {
  color: #fff;
  background: #1f7e3f;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_yellow {
  color: #fff;
  background: #C60;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_gray {
  color: #888;
  background: #eee;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_gray2 {
  color: #fff;
  background: #999;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_gray3 {
  color: #fff;
  background: #ccc;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_violet {
  color: #fff;
  background: #cc5dcb;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_violet2 {
  color: #fff;
  background: #7023ab;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
.s_violet3 {
  color: #fff;
  background: #C69;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 2px;
}
/**/
.s2_org {
  color: #F90;
  background: #f6f4f0;
  border: 1px #f8b782 solid;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 3px;
}
.s2_red {
  color: red;
  background: #fdf5f5;
  border: 1px #f38484 solid;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 3px;
}
.s2_blue {
  color: #32a3ff;
  background: #e8f2fa;
  border: 1px #60b1f5 solid;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 3px;
}
.s2_green {
  color: #4AC16C;
  background: #e5f5e9;
  border: 1px #7dd295 solid;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 3px;
}
.s2_gray {
  color: #888;
  background: #eee;
  border: 1px #aaa solid;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  height: 18px;
  line-height: 18px;
  margin: 0 3px;
}
@font-face {
  font-family: "YeeFont";
  src: url("font/YeeFont.eot");
  /* IE9 */
  src: url("font/YeeFont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("font/YeeFont.woff") format("woff"), /* chrome firefox */ url("font/YeeFont.ttf") format("truetype"), /* chrome firefox opera safari, Android, iOS 4.2+ */ url("font/YeeFont.svg#uxfonteditor") format("svg");
  /* iOS 4.1- */
}
.yee-form-wrap {
  width: auto;
  height: auto;
  position: absolute;
  left: 170px;
  top: 60px;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 3px 15px 15px 15px;
  overflow: auto;
}
.yee-form-header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e4eaec;
  font-size: 18px;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
}
.yee-form-header .yee-title {
  display: inline-block;
  position: relative;
  flex-shrink: 1;
  padding-left: 14px;
}
.yee-form-header .yee-title.none {
  display: none;
}
.yee-form-header .yee-title:before {
  content: '';
  display: block;
  width: 4px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  background: #257faf;
}
.yee-form-header .yee-toolbar {
  text-align: right;
  flex-grow: 1;
}
.yee-panel {
  margin-bottom: 15px;
  border-radius: 3px;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 0 2px gray(0, 0.05);
}
.yee-panel .form-caption,
.yee-panel .panel-caption {
  border-bottom: 1px solid #e4eaec;
  line-height: 40px;
  position: relative;
}
.yee-panel .form-caption h3,
.yee-panel .panel-caption h3 {
  font-size: 16px;
  color: #555;
}
.yee-panel .panel-caption i {
  color: #0c8dc7;
  float: left;
  margin: 15px 10px 0 3px;
}
.yee-panel .panel-content {
  padding-top: 15px;
  position: relative;
}
.yee-row {
  line-height: 30px;
  background: #FFF;
  clear: both;
  display: table;
  border: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.yee-row.none {
  display: none;
}
.yee-row .row-caption {
  text-align: right;
  vertical-align: top;
  width: 200px;
}
.yee-row .row-cell,
.yee-row .row-label {
  display: table-cell;
  font-weight: 400;
  text-align: left;
  padding: 3px 0;
  vertical-align: middle;
}
.yee-row .row-cell.none,
.yee-row .row-label.none {
  display: none;
}
.yee-row .row-label {
  width: 200px;
  text-align: right;
  vertical-align: top;
}
.yee-row .row-label em {
  font-style: normal;
  margin-left: 5px;
}
.yee-row .row-label em:before {
  content: '*';
  color: #E84C3D;
  margin-right: 5px;
}
.yee-row .row-inline {
  display: inline-block;
  padding: 0px;
  margin-left: 10px;
}
.yee-row .row-inline.none {
  display: none;
}
.yee-row .row-inline :first-child {
  margin-left: 0px;
}
.yee-container-title {
  display: block;
  margin-left: 0px;
  background: #f8f8f8;
  line-height: 28px;
}
.yee-container-title.none {
  display: none;
}
.yee-container-title .inline-label {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  padding: 0;
  vertical-align: middle;
  width: auto;
}
.yee-container-title .inline-label.none {
  display: none;
}
.yee-container-body {
  display: block;
  border: 1px #eee dotted;
  padding: 5px 8px;
}
.yee-container-body .yee-row .row-label {
  width: 180px;
}
.yee-row-inline {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.yee-row-inline.none {
  display: none;
}
.yee-row-inline .inline-cell,
.yee-row-inline .inline-label {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  padding: 0;
  vertical-align: middle;
  width: auto;
}
.yee-row-inline .inline-cell.none,
.yee-row-inline .inline-label.none {
  display: none;
}
.yee-row-inline .inline-label em {
  font-style: normal;
  margin-left: 5px;
}
.yee-row-inline .inline-label em:before {
  content: '*';
  color: #E84C3D;
  margin-right: 5px;
}
.yee-line {
  line-height: 30px;
  padding: 0 20px;
  border-left: 3px #0c8dc7 solid;
}
.yee-row-column {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.yee-line label.line-label {
  color: #333;
  font-weight: bold;
  display: inline-block;
  line-height: 30px;
}
.yee-line label.line-label.none {
  display: none;
}
.yee-line .line-tips {
  line-height: 16px;
  color: #909090;
  display: inline-block;
  padding: 3px 15px 0 15px;
}
.yee-line .line-tips.none {
  display: none;
}
.yee-submit {
  padding: 15px 0 30px 0;
  line-height: 30px;
  clear: both;
  display: table;
}
.yee-submit.none {
  display: none;
}
.yee-submit .submit-cell,
.yee-submit .submit-label {
  display: table-cell;
  font-weight: 400;
  text-align: left;
  padding: 3px 0;
  vertical-align: middle;
}
.yee-submit .submit-cell.none,
.yee-submit .submit-label.none {
  display: none;
}
.yee-submit .submit-label {
  width: 200px;
}
.yee-submit .form-btn {
  margin-right: 10px;
}
.form-inp {
  border: 0.5px solid #e1e1e1;
  border-radius: 3px;
  line-height: 18px;
  padding: 5px 10px;
  transition: all 0.2s;
  outline: none;
  vertical-align: middle;
}
.form-inp[type="checkbox"] {
  margin-right: 5px;
  margin-left: 3px;
  vertical-align: middle;
  cursor: pointer;
}
.form-inp[type="checkbox"] + span {
  padding: 0 5px 0 25px;
  margin-left: -22px;
  line-height: 24px;
  border: 0.5px transparent dashed;
  box-sizing: border-box;
}
.form-inp[type="checkbox"]:after {
  font-family: 'YeeFont' !important;
  content: "";
  line-height: 12px;
  height: 14px;
  width: 14px;
  display: inline-block;
  background: #FFF;
  border: 0.5px #e1e1e1 solid;
  border-radius: 1px;
  color: #999;
  font-size: 18px;
  margin-left: -1px;
  margin-top: -8px;
  text-align: center;
  vertical-align: middle;
}
.form-inp[type="checkbox"]:after.none {
  display: none;
}
.form-inp[type="checkbox"]:hover:after {
  border: 1px #0c8dc7 solid;
}
.form-inp[type="checkbox"]:checked:after {
  content: "\f0f4";
  color: #0c8dc7;
}
.form-inp[type="checkbox"]:disabled:after {
  color: #999;
  background: #EEE;
}
.form-inp[type="checkbox"]:disabled:hover:after {
  border: 1px #dbdbdb solid;
}
.form-inp[type="radio"] {
  margin-right: 6px;
  margin-left: 2px;
  vertical-align: middle;
  cursor: pointer;
}
.form-inp[type="radio"] + span {
  padding: 0 5px 0 25px;
  margin-left: -22px;
  line-height: 24px;
  border: 0.5px transparent dashed;
  box-sizing: border-box;
}
.form-inp[type="radio"]:after {
  font-family: 'YeeFont' !important;
  content: "";
  line-height: 18px;
  height: 16px;
  width: 16px;
  display: inline-block;
  background: #FFF;
  border: 0.5px #dbdbdb solid;
  border-radius: 9px;
  color: #999;
  font-size: 14px;
  margin-left: -2px;
  margin-top: -8px;
  text-align: center;
  vertical-align: middle;
}
.form-inp[type="radio"]:after.none {
  display: none;
}
.form-inp[type="radio"]:hover:after {
  border: 0.5px #0c8dc7 solid;
}
.form-inp[type="radio"]:checked:after {
  content: "\f104";
  color: #0c8dc7;
}
.form-inp[type="radio"]:disabled:after {
  color: #999;
  background: #EEE;
}
.form-inp[type="radio"]:disabled:hover:after {
  border: 0.5px #dbdbdb solid;
}
.form-inp:focus {
  border: 0.5px solid #0c8dc7;
}
.form-inp.small {
  line-height: 14px;
  padding: 3px 5px;
}
.form-inp.snumber,
.form-inp.sinteger {
  width: 60px;
}
.form-inp.number,
.form-inp.integer {
  width: 100px;
}
.form-inp.text {
  width: 240px;
}
.form-inp.textarea {
  width: 420px;
  outline: none;
  vertical-align: top;
}
.form-inp.xh-editor {
  height: 280px;
}
.form-inp.datetime {
  width: 160px;
}
.form-inp.date {
  width: 140px;
}
.form-inp.linkage {
  margin-right: 5px;
}
.form-inp.date,
.form-inp.datetime {
  background-image: url(img/yee.date.png);
  background-position: right 5px center;
  background-repeat: no-repeat;
}
.form-inp.upload {
  width: 260px;
  vertical-align: middle;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -13px;
}
.label-inp {
  position: relative;
}
.label-inp input {
  display: none;
}
.label-inp .form-inp[type="radio"]:after,
.label-inp .form-inp[type="checkbox"]:after {
  display: none;
}
.label-inp .form-inp[type="radio"] + span,
.label-inp .form-inp[type="checkbox"] + span {
  border: 1px #ddd solid;
  display: inline-block;
  padding: 0 15px 0 15px;
  margin-right: 6px;
  margin-bottom: 2px;
  background: #fff;
  white-space: nowrap;
  margin-left: 0;
  cursor: pointer;
}
.label-inp .form-inp[type="radio"]:checked + span,
.label-inp .form-inp[type="checkbox"]:checked + span {
  border: 1px #11bbca solid;
  box-sizing: content-box;
  display: inline-block;
  background-color: #ebf8fb;
  color: #0fa7b4;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1Ij4KPHBhdGggZD0iIE0gMCAwIEwgMjAwIDAgTCAyMDAgMjAwIEwgMCAwIFogIiBmaWxsPSJyZ2IoNDEsMTg5LDE4NSkiLz4KPHBhdGggZD0iIE0gOTggNDkgTCA4OCA2MCBMIDEyNiA5NSBMIDE4NyAyMiBMIDE3NiAxMyBMIDEyNSA3NSBMIDk4IDQ5IFogIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: top right;
}
.label-slider [type="checkbox"] {
  display: none;
}
.label-slider [type="checkbox"] + span {
  background: #f7f7f7;
  border: 1px #ccc solid;
  display: inline-block;
  width: 36px;
  height: 20px;
  vertical-align: middle;
  border-radius: 20px;
  padding: 0 5px 0 0px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.label-slider [type="checkbox"] + span:after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 18px;
  background: #fff;
  border: 1px #ccc solid;
  left: -1px;
  top: -1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.label-slider [type="checkbox"]:checked + span {
  background: #0c8dc7;
  border: 1px #0c8dc7 solid;
}
.label-slider [type="checkbox"]:checked + span:after {
  left: 21px;
}
select.form-inp {
  background: #FFF;
  padding: 0px 10px;
  line-height: 28px;
  height: 30px;
}
select.form-inp option {
  background: #FFF;
}
.row-cell .yee-row-inline {
  margin-left: 10px;
}
.container-item {
  padding: 2px 0;
}
.container-item .yee-row-inline:first-child {
  margin-left: 0px;
}
.xheLayout {
  line-height: 22px;
}
.multi-dialog label {
  display: inline-block;
  padding: 0 5px 0 10px;
  background: #f2f4f9;
  border: 1px solid #a5d4f9;
  color: #0a86ff;
  margin: 1px 3px 1px 0;
  border-radius: 3px;
}
.multi-dialog label > i {
  margin-left: 5px;
  cursor: pointer;
  color: #bfd4e0;
}
.multi-dialog label > i:hover {
  color: #2c6fe0;
}
.multi-dialog {
  min-width: 300px;
  min-height: 20px;
  display: inline-block;
  padding: 3px 10px;
}
.course-table {
  border: 1px #ddd dashed;
  margin-right: 5px;
  padding: 0;
  background: #f7f7f7;
}
.course-table td,
.course-table td {
  padding: 5px 10px;
}
.course-table th {
  padding: 5px 10px;
}
.course-table a.yee-btn {
  border: none;
  background: transparent;
}
a.file {
  border: 1px #eee solid;
  line-height: 24px;
  display: inline-block;
  border-radius: 5px;
  padding: 0 12px 0 20px;
  background: #fefefe url("../images/file.png") no-repeat 3px center;
  color: #666;
}
a.file:hover {
  color: #0a86ff;
}
.scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.scrollbar::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  -webkit-box-shadow: inset 0 0 5px rgba(222, 222, 222, 0.2);
  background: #cacaca;
  border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: #EDEDED;
}
.yee-attention {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background: #f0f6ff;
  color: #3aa7f5;
}
.yee-list-wrap {
  width: auto;
  height: auto;
  position: absolute;
  left: 170px;
  top: 60px;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 15px;
  overflow: auto;
}
.yee-list-header {
  width: auto;
  height: auto;
  padding: 0 15px 15px 15px;
  position: relative;
}
.yee-list-header .yee-caption {
  width: auto;
  height: auto;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding-left: 14px;
}
.yee-list-header .yee-caption:before {
  content: '';
  display: block;
  width: 4px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  background: #257faf;
}
.yee-list-header .yee-caption span {
  font-size: 14px;
  color: #999;
}
.yee-list-header .yee-caption span:before {
  content: '-';
  padding: 0 5px;
}
.yee-list-header .yee-toolbar {
  width: auto;
  height: 20px;
  text-align: right;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -20px;
  font-size: 13px;
  font-weight: normal;
  color: #999;
}
.yee-list-header .yee-toolbar .yee-btn {
  padding: 2px 10px;
}
a.refresh-btn {
  line-height: 22px;
  height: 22px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 3px 0;
  color: #888;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  transition: 0.1s;
  overflow: hidden;
  background-color: transparent;
}
a.refresh-btn:hover {
  color: #666;
  background-color: #e1e1e1;
}
.yee-list-main {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 3px;
}
.yee-list-search {
  height: auto;
  box-shadow: 0 1px 0 #eee;
  position: relative;
  color: #555;
  padding: 10px 15px 10px 15px;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.yee-list-search .tr.nobr {
  vertical-align: top;
  padding: 4px 0;
}
.yee-list-search:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.yee-list-search .yee-cell {
  width: auto;
  height: 34px;
  line-height: 34px;
  float: left;
  margin-right: 10px;
}
.yee-list {
  width: auto;
  height: auto;
  padding: 15px;
}
.yee-list thead th {
  border-bottom: 1px #EDF1F2 solid;
  border-right: 1px #ddd dotted;
  height: 39px;
  padding: 0px 10px;
  background: #EDF1F2;
  line-height: 18px;
  font-weight: 700;
  color: #555;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 13px;
  border-left: none;
}
.yee-list thead th.order:after {
  display: inline-block;
  font-family: 'YeeFont' !important;
  content: "\eb5b";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #999;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}
.yee-list thead th.order.down:after {
  content: "\eb21";
}
.yee-list thead th.order.up:after {
  content: "\eb24";
}
.yee-list tbody td,
.yee-list colgroup col {
  border-top: 1px #EDF1F2 solid;
  border-bottom: 1px #EDF1F2 solid;
  font-size: 13px;
  height: 36px;
  line-height: 22px;
  vertical-align: middle;
  padding: 0px 10px;
  font-weight: normal;
  border-left: none;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap;*/
  color: #666;
}
.yee-list tbody td img,
.yee-list colgroup col img {
  vertical-align: middle;
  margin: 3px;
}
.yee-list tbody tr:hover {
  background: #f5faff;
}
.yee-list tbody tr.selected {
  background: #f5faff;
}
.yee-tab {
  margin: 0 0 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #257faf;
}
.yee-tab ul {
  float: left;
}
.yee-tab ul li {
  height: 35px;
  line-height: 35px;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  color: #707070;
  float: left;
  margin-right: 3px;
  background-color: #e5e5e5;
  cursor: pointer;
}
.yee-tab ul li a {
  color: #707070;
  display: block;
  padding: 0 20px;
}
.yee-tab ul li:last-child {
  margin-right: 0;
}
.yee-tab ul li.curr {
  background-color: #257faf;
  color: #fff;
}
.yee-tab ul li.curr a {
  color: #fff;
}
.yee-show-table {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  background: #FFF;
  border-collapse: collapse;
  width: 100%;
}
.yee-show-table th {
  background: #f9f9f9;
  line-height: 18px;
  padding: 10px 5px;
  font-weight: 700;
  border: 1px solid #eaeaea;
  color: #333;
}
.yee-show-table td {
  color: #777;
  padding: 5px;
  line-height: 20px;
  border: 1px solid #eaeaea;
  word-break: keep-all;
}
input.yee-input-error,
select.yee-input-error,
textarea.yee-input-error {
  background: #FFF9F7;
  border: 0.5px dotted #ffcdb2;
}
input.yee-input-error[type='checkbox'] + span,
input.yee-input-error[type='radio'] + span {
  display: inline-block;
  border: 0.5px #ffcdb2 dotted;
  box-sizing: border-box;
}
input.yee-input-error:focus,
select.yee-input-error:focus,
textarea.yee-input-error:focus {
  border: 0.5px dotted #ffcdb2;
  outline: 0;
}
input.yee-input-error:focus,
select.yee-input-error:focus,
textarea.yee-input-error:focus {
  border: 0.5px dotted #ffcdb2;
  outline: 0;
}
input.yee-input-correct {
  background: #F0FCF0;
  border: 0.5px dotted #96e5cc;
  border-radius: 3px;
}
input.yee-input-correct:focus {
  border: 0.5px dotted #96e5cc;
}
input.select-dialog.yee-input-error + input.select-dialog {
  background: #FFF9F7;
  border: 0.5px dotted #ffcdb2;
}
input.select-dialog.yee-input-correct + input.select-dialog {
  background: #F0FCF0;
  border: 0.5px dotted #96e5cc;
  border-radius: 3px;
}
input.select-dialog.yee-input-correct + input.select-dialog:focus {
  border: 0.5px dotted #96e5cc;
}
input.up-file.yee-input-error + div.yee-file-wrap a.yee-btn.file-btn {
  background: #FFF9F7;
  border: 0.5px dotted #ffcdb2;
}
.yee-field-error {
  line-height: 20px;
  color: #ec7c5e;
  margin-left: 5px;
}
.yee-field-correct {
  line-height: 20px;
  color: #43d280;
  margin-left: 5px;
}
.yee-field-default {
  color: #909090;
  margin-left: 5px;
}
.yee-field-error:before {
  font-family: YeeFont !important;
  content: '\efea';
  display: inline-block;
  margin-right: 3px;
}
.yee-field-correct:before {
  display: inline-block;
  font-family: YeeFont !important;
  content: '\efad';
  margin-right: 3px;
}
.yee-field-prompt {
  line-height: 16px;
  color: #909090;
  padding: 3px 15px 0 15px;
  clear: both;
}
.yee-field-prompt:before {
  color: #a0a0a0;
  font-family: YeeFont !important;
  content: '\f0ae';
  width: 15px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-left: -15px;
}
.form-inp.up-file + a.yee-btn,
.form-inp.qn-file + a.yee-btn {
  border: 1px solid #e1e1e1;
  vertical-align: middle;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 3px;
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
}
.form-inp.up-file + a.yee-btn:before,
.form-inp.qn-file + a.yee-btn:before {
  color: #a0a0a0;
  font-family: YeeFont !important;
  content: '\f0ff';
  width: 15px;
  display: inline-block;
  margin-right: 3px;
  margin-left: -5px;
}
.form-inp.up-image + div.yee-img-wrap,
.form-inp.qn-image + div.yee-img-wrap {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
.form-inp.up-image + div.yee-img-wrap .img-btn,
.form-inp.qn-image + div.yee-img-wrap .img-btn {
  border-radius: 3px;
  background-image: url("img/drive_upload.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px #eee solid;
  float: left;
  display: inline-block;
  overflow: hidden;
}
.form-inp.up-image + div.yee-img-wrap .img-bgnone,
.form-inp.qn-image + div.yee-img-wrap .img-bgnone {
  background-image: none;
}
.form-inp.up-image + div.yee-img-wrap .img-del,
.form-inp.qn-image + div.yee-img-wrap .img-del {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 14px;
  height: 14px;
  background-image: url("img/pic_close.png");
}
.form-inp.up-image + div.yee-img-wrap .img-item,
.form-inp.qn-image + div.yee-img-wrap .img-item {
  border: 1px #eee solid;
  float: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 0px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
input.form-inp.up-image.yee-input-error + div.yee-img-wrap .img-btn,
input.form-inp.qn-image.yee-input-error + div.yee-img-wrap .img-btn {
  border: 1px #ffcdb2 dotted;
}
.yee-btn.file-btn {
  border: 1px solid #e1e1e1;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 3px;
  margin-left: 0px;
  cursor: pointer;
  display: inline-block;
  float: left;
}
.yee-btn.file-btn:before {
  color: #a0a0a0;
  font-family: YeeFont !important;
  content: '\f0ff';
  width: 15px;
  display: inline-block;
  margin-right: 3px;
  margin-left: -5px;
}
.yee-file-wrap div.file-item {
  font-size: 13px;
  color: #222;
  padding: 2px;
  border: 1px #eee solid;
  margin: 0px 3px 3px 0px;
  float: left;
  border-radius: 3px;
  line-height: 28px;
  color: #0c8dc7;
}
.yee-file-wrap div.file-item.disabled {
  color: #999;
  background: #f7f7f7;
}
.yee-file-wrap div.file-item a.file-del:after {
  color: #666;
  font-family: YeeFont !important;
  content: '\efb5';
  width: 15px;
  font-size: 16px;
  display: inline-block;
  margin-right: 3px;
  margin-left: 15px;
}
div.file-item:before {
  font-family: YeeFont !important;
  content: "\ec06";
  font-size: 18px;
  margin-right: 4px;
  vertical-align: -1px;
  font-weight: 100;
  color: #5f7a88;
}
div.file-item.audio:before {
  content: "\ebfd";
}
div.file-item.avi-mp4:before {
  content: "\ebfe";
}
div.file-item.bmp:before {
  content: "\ebff";
}
div.file-item.code:before {
  content: "\ec00";
}
div.file-item.css:before {
  content: "\ec01";
}
div.file-item.document:before {
  content: "\ec02";
}
div.file-item.eps:before {
  content: "\ec03";
}
div.file-item.excel:before {
  content: "\ec04";
}
div.file-item.exe:before {
  content: "\ec05";
}
div.file-item.file:before {
  content: "\ec06";
}
div.file-item.flv:before {
  content: "\ec07";
}
div.file-item.gif:before {
  content: "\ec08";
}
div.file-item.html5:before {
  content: "\ec09";
}
div.file-item.image:before {
  content: "\ec0a";
}
div.file-item.iso:before {
  content: "\ec0b";
}
div.file-item.java:before {
  content: "\ec0c";
}
div.file-item.javascript:before {
  content: "\ec0d";
}
div.file-item.jpg:before {
  content: "\ec0e";
}
div.file-item.midi:before {
  content: "\ec0f";
}
div.file-item.mov:before {
  content: "\ec10";
}
div.file-item.mp3:before {
  content: "\ec11";
}
div.file-item.pdf:before {
  content: "\ec12";
}
div.file-item.php:before {
  content: "\ec13";
}
div.file-item.png:before {
  content: "\ec14";
}
div.file-item.powerpoint:before {
  content: "\ec15";
}
div.file-item.presentation:before {
  content: "\ec16";
}
div.file-item.psb:before {
  content: "\ec17";
}
div.file-item.psd:before {
  content: "\ec18";
}
div.file-item.python:before {
  content: "\ec19";
}
div.file-item.ruby:before {
  content: "\ec1a";
}
div.file-item.spreadsheet:before {
  content: "\ec1b";
}
div.file-item.sql:before {
  content: "\ec1c";
}
div.file-item.svg:before {
  content: "\ec1d";
}
div.file-item.text:before {
  content: "\ec1e";
}
div.file-item.tiff:before {
  content: "\ec1f";
}
div.file-item.video:before {
  content: "\ec20";
}
div.file-item.wave:before {
  content: "\ec21";
}
div.file-item.wmv:before {
  content: "\ec22";
}
div.file-item.word:before {
  content: "\ec23";
}
div.file-item.zip:before {
  content: "\ec24";
}
.show-file-item {
  background: url(../images/fujian.png) no-repeat 5px 5px;
  display: inline-block;
  border: 1px #eee solid;
  padding: 3px 5px 3px 25px;
  border-radius: 5px;
  color: #253a86;
  min-height: 20px;
  margin: 5px 10px 5px 0;
  font-size: 14px;
  color: #333;
}
.show-file-item:hover {
  color: #1E9FFF;
}
.yee-picker {
  width: 220px;
  min-height: 220px;
  background: #fff;
  border-radius: 2px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100000;
}
.yee-picker.mobile {
  width: 100%;
  position: fixed;
  z-index: 100000;
  top: unset;
  bottom: 0;
}
.yee-picker.mobile .yee-picker-main {
  overflow-y: scroll;
}
.yee-picker-display {
  background: #56BFC5;
  font-size: 14px;
  height: 40px;
  display: -webkit-flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.yee-picker-toolbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
}
.yee-picker-main {
  overflow: hidden;
  height: 1px;
  position: relative;
  transition: all 0.1s ease;
}
.yee-picker-svg-icon {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  fill: currentColor;
  height: 22px;
  width: 22px;
  -webkit-user-sel: none;
  -moz-user-sel: none;
  -ms-user-sel: none;
  user-sel: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.yee-picker-toolbar button {
  line-height: 1;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  position: relative;
}
.yee-picker-toolbar button:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background: #999;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.yee-picker-toolbar button:active:before {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  transition: 0s;
}
.yee-picker-year a {
  margin: 0 5px;
  text-decoration: none;
  color: #000;
}
.yee-picker-week {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 20px;
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
}
.yee-picker-week span {
  text-align: center;
  width: 24px;
  display: block;
}
.yee-picker-sel-year-month {
  padding: 5px 10px 10px 10px;
}
.yee-picker-sel-day {
  padding: 5px 10px;
}
.yee-picker.mobile .yee-picker-sel-day,
.yee-picker.mobile .yee-picker-sel-hms {
  border-top: 1px #ccc dashed;
}
.yee-picker-day-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.yee-picker-day-row span {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
}
.yee-picker-day-row button {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  border: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}
.yee-picker-day-row button span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  display: block;
  text-align: center;
  color: #333;
  transition: color 0.2s ease-in-out;
}
.yee-picker-day-row button:hover span {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.yee-picker-day-row button:before {
  position: absolute;
  content: "";
  background: #56BFC5;
  border-radius: 12px;
  opacity: 0;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  transition: all 0.2s ease-in-out;
}
.yee-picker-day-row button.yee-picker-current:before {
  background: #56BFC5;
  opacity: 1;
  width: 24px;
  height: 24px;
}
.yee-picker-day-row button.yee-picker-current span {
  color: #fff;
}
.yee-picker-day-row button:hover:before {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.yee-picker-day-row button.yee-picker-today {
  border-radius: 3px;
}
.yee-picker-day-row button.yee-picker-today,
.yee-picker-day-row button.yee-picker-today span,
.yee-picker-day-row button.yee-picker-today:hover:before {
  width: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
}
.yee-picker-sel-year-month {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
a.yee-picker-year-layout {
  display: block;
  text-decoration: none;
  color: #333333;
  width: 50%;
}
.yee-picker-sel-year ul {
  margin: 0;
  padding: 0px;
}
.yee-picker-sel-year ul li {
  height: 24px;
  line-height: 24px;
  list-style: none;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.yee-picker-sel-year ul li:hover {
  background: #eee;
  color: #56BFC5;
}
.yee-picker-sel-year ul li.yee-picker-current {
  background: #56BFC5;
  color: #fff;
}
.yee-picker-sel-month button {
  width: calc(50% - 4px);
  margin: 0 2px;
  height: 27px;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  border-radius: 3px;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-size: 12px;
  border: 0;
  text-align: center;
}
.yee-picker-sel-month button:hover {
  background: #eee;
  color: #56BFC5;
}
.yee-picker-sel-year-month button.yee-picker-current {
  background: #56BFC5;
  color: #fff;
}
.yee-picker-sel-year {
  height: 156px;
  width: 80%;
  padding: 3px;
  border: 1px #ddd solid;
  overflow-x: hidden;
}
.yee-picker-sel-month {
  height: 156px;
  width: 50%;
}
.yee-picker-sel-year::-webkit-scrollbar {
  width: 6px;
}
.yee-picker-sel-year::-webkit-scrollbar-track {
  background-color: #fff;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.yee-picker-sel-year::-webkit-scrollbar-thumb {
  background-color: #ddd;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.yee-picker-sel-hms {
  padding: 0px 10px 10px 10px;
}
.yee-picker-sel-hms-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  clear: both;
  width: 100%;
}
.yee-picker-time-display {
  line-height: 24px;
  height: 30px;
  padding: 4px 0;
  clear: both;
}
.yee-picker-time-display span {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
}
.yee-picker-time-display button {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  border: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}
.yee-picker-time-display button span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  outline: none;
  display: block;
  text-align: center;
  color: #333;
  transition: color 0.2s ease-in-out;
}
.yee-picker-time-display button:hover span {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.yee-picker-time-display button:before {
  position: absolute;
  content: "";
  background: #56BFC5;
  border-radius: 12px;
  opacity: 0;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  transition: all 0.2s ease-in-out;
}
.yee-picker-time-display button.yee-picker-current:before {
  background: #56BFC5;
  opacity: 1;
  width: 24px;
  height: 24px;
}
.yee-picker-time-display button.yee-picker-current span {
  color: #fff;
}
.yee-picker-time-display button:hover:before {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.yee-picker-time-display button.yee-picker-time b {
  color: #56BFC5;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  font-weight: normal;
  border-radius: 3px;
}
.yee-picker-time-display button.yee-picker-time:hover b {
  color: #fff;
  font-weight: normal;
}
.yee-picker-time-display button.yee-picker-time,
.yee-picker-time-display button.yee-picker-time span,
.yee-picker-time-display button.yee-picker-time:hover:before {
  width: 100px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
}
.yee-picker-time-display button.yee-picker-time {
  float: left;
}
.yee-picker-time-display button.yee-picker-time-choice,
.yee-picker-time-display button.yee-picker-time-choice span,
.yee-picker-time-display button.yee-picker-time-choice:hover:before {
  width: 55px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
}
.yee-picker-time-display button.yee-picker-time-choice {
  float: right;
  margin-left: 5px;
  background: #f1f1f1;
}
.yee-picker-time-display button.yee-picker-now,
.yee-picker-time-display button.yee-picker-now span,
.yee-picker-time-display button.yee-picker-now:hover:before {
  width: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
}
.yee-picker-time-display button.yee-picker-now {
  float: right;
}
.yee-picker-sel-hour {
  height: 156px;
  width: calc(50% - 10px);
}
.yee-picker-sel-minute,
.yee-picker-sel-second {
  height: 156px;
  width: calc(25% - 5px);
}
.yee-picker.mobile .yee-picker-sel-hour,
.yee-picker.mobile .yee-picker-sel-minute,
.yee-picker.mobile .yee-picker-sel-second {
  padding: 0 3%;
}
.yee-picker-sel-hour div,
.yee-picker-sel-minute div,
.yee-picker-sel-second div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.yee-picker-sel-hour button,
.yee-picker-sel-minute button,
.yee-picker-sel-second button {
  width: 22px;
  height: 22px;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  border-radius: 12px;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-size: 12px;
  border: 0;
  text-align: center;
  padding: 0;
}
button::-moz-focus-inner {
  border: 0;
}
.yee-picker-sel-hour button:hover,
.yee-picker-sel-minute button:hover,
.yee-picker-sel-second button:hover {
  background: #eee;
  color: #56BFC5;
}
.yee-picker-sel-hour button.yee-picker-current,
.yee-picker-sel-minute button.yee-picker-current,
.yee-picker-sel-second button.yee-picker-current {
  background: #56BFC5;
  color: #fff;
}
.yee-picker-sel-apart {
  background: #ddd;
  height: 160px;
  width: 1px;
}
*[yee-template] {
  display: none;
}
.yee-datatable {
  font-size: 12px;
  border-collapse: collapse;
  margin: 0px;
  box-sizing: border-box;
  background: #FFF;
  border-radius: 3px;
}
.yee-datatable tbody td,
.yee-datatable thead th,
.yee-datatable colgroup col {
  border-bottom: 1px #EDF1F2 solid;
  height: 45px;
  line-height: 22px;
  vertical-align: middle;
  padding: 0px 10px;
  font-weight: normal;
  box-sizing: border-box;
  color: #666;
  font-size: 13px;
}
.yee-datatable tbody td img,
.yee-datatable thead th img,
.yee-datatable colgroup col img {
  vertical-align: middle;
  margin: 3px;
}
.yee-datatable thead th {
  border-right: 1px #ccc dotted;
  background: #EDF1F2;
  color: #555;
  line-height: 18px;
  font-weight: 700;
  height: 36px;
}
.yee-datatable thead th:last-child {
  border-right: none;
}
.yee-datatable tbody tr.hover {
  background: #f5faff;
}
.yee-datatable tbody tr.selected {
  background: #F0F6FF;
}
.yee-datatable.yee-dt-resize {
  table-layout: fixed;
  box-shadow: 0 -1px 1px #cdcfd0;
}
.yee-datatable.yee-dt-resize tbody td,
.yee-datatable.yee-dt-resize thead th,
.yee-datatable.yee-dt-resize colgroup col {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.yee-dt-box {
  box-sizing: border-box;
  border: 1px #EDF1F2 solid;
  opacity: 1;
  transition: opacity 0.1s;
  border-radius: 3px;
}
.yee-dt-box.yee-dt-render {
  opacity: 0;
  transition: opacity 0.1s;
}
.yee-dt-box .yee-dt-main,
.yee-dt-box .yee-dt-header {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.yee-dt-box .yee-dt-header {
  box-sizing: border-box;
  background: #f5f5f5;
  height: 37px;
  box-shadow: 0 1px 1px #EDF1F2;
}
.yee-dt-box .yee-dt-main-wrap,
.yee-dt-box .yee-dt-head-wrap {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.yee-dt-box .yee-dt-fixed-left,
.yee-dt-box .yee-dt-fixed-right {
  position: absolute;
  top: 0px;
}
.yee-dt-box .yee-dt-fixed-left {
  left: 0px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);
}
.yee-dt-box .yee-dt-fixed-right {
  right: 0px;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.08);
}
.yee-dt-box .yee-dt-scroll {
  background: #f8f8f8;
  overflow-x: auto;
  max-width: 100%;
  margin-top: -2px;
}
.yee-dt-box .yee-dt-scroll .yee-dt-scrollbar {
  height: 1px;
}
.yee-dt-box .yee-dt-scroll::-webkit-scrollbar,
.yee-dt-box .yee-dt-main::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.yee-dt-box .yee-dt-scroll::-webkit-scrollbar-track,
.yee-dt-box .yee-dt-main::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 0px;
}
.yee-dt-box .yee-dt-scroll::-webkit-scrollbar-thumb,
.yee-dt-box .yee-dt-main::-webkit-scrollbar-thumb {
  background: #EDF1F2;
  border-radius: 1px;
}
.yee-dt-box .yee-dt-scroll::-webkit-scrollbar-thumb:hover,
.yee-dt-box .yee-dt-main::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}
.yee-dt-box .yee-dt-scroll::-webkit-scrollbar-corner,
.yee-dt-box .yee-dt-main::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
.yee-dt-box .yee-dt-cover {
  position: absolute;
  width: 20px;
  cursor: ew-resize;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  top: 0;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.yee-dt-box .yee-dt-clone {
  pointer-events: none;
}
.yee-dt-box .yee-dt-sort {
  position: relative;
  width: 10px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer !important;
  display: inline-block;
  vertical-align: middle;
}
.yee-dt-box .yee-dt-sort-text {
  cursor: pointer !important;
}
.yee-dt-box .yee-dt-sort-desc,
.yee-dt-box .yee-dt-sort-asc {
  position: absolute;
  left: 0px;
  border-width: 5px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: dashed;
  border-color: transparent;
}
.yee-dt-box .yee-dt-sort-desc {
  bottom: 5px;
  border-bottom: none;
  border-top-style: solid;
  border-top-color: #b2b2b2;
}
.yee-dt-box .yee-dt-sort-asc {
  top: 3px;
  border-top: none;
  border-bottom-style: solid;
  border-bottom-color: #b2b2b2;
}
.yee-dt-box .yee-dt-sort[yee-sort=asc] .yee-dt-sort-asc {
  border-bottom-color: #000;
}
.yee-dt-box .yee-dt-sort[yee-sort=desc] .yee-dt-sort-desc {
  border-top-color: #000;
}
/*分页样式*/
.yee-pagebar {
  transition: all 0.15s ease-in;
  width: 100%;
  padding: 20px 0 5px 0;
  height: 28px;
  font-size: 14px;
}
.yee-pagebar .pagebar {
  float: left;
}
.yee-pagebar .pagebar .break,
.yee-pagebar .pagebar a,
.yee-pagebar .pagebar b {
  text-decoration: none;
  color: #666;
  display: inline-block;
  line-height: 24px;
  float: left;
  margin-right: 3px;
  padding: 2px 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.yee-pagebar .pagebar input.page-inp {
  height: 26px;
  line-height: 26px;
  float: left;
  width: 40px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  margin-right: 3px;
}
.yee-pagebar .pagebar .break {
  background: 0 0;
  cursor: default;
}
.yee-pagebar .pagebar a {
  background-color: #F4F4F5;
}
.yee-pagebar .pagebar a:hover {
  color: #257faf;
}
.yee-pagebar .pagebar b {
  background: #257faf;
  color: #fff;
}
.yee-pagebar .pagebar-info {
  float: right;
  line-height: 22px;
}
a {
  color: #333;
}
a:hover {
  color: #ec5151;
}
[class^="icofont-"],
[class*=" icofont-"] {
  margin-right: 2px;
}
a.yee-btn,
input.yee-btn {
  line-height: 22px;
  height: 22px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
  margin: 1px 0;
  color: #909399;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  transition: 0.1s;
  overflow: hidden;
}
a.form-btn,
input.form-btn {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  opacity: 0.8;
  display: inline-block;
  vertical-align: middle;
  border: 0.5px solid #c1c1c1;
  color: #777;
}
.yee-submit a.form-btn,
.yee-submit input.form-btn {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 30px;
}
a.yee-btn:hover,
input.yee-btn:hover {
  opacity: 1;
}
a.yee-btn.blue,
input.yee-btn.blue {
  color: #fff;
  background: #257faf;
}
a.yee-btn.blue-bd,
input.yee-btn.blue-bd {
  color: #257faf;
}
a.yee-btn.violet,
input.yee-btn.violet {
  color: #fff;
  background: #C69;
}
a.yee-btn.violet-bd,
input.yee-btn.violet-bd {
  color: #C69;
}
a.yee-btn.red,
input.yee-btn.red {
  color: #fff;
  background: #ec5151;
}
a.yee-btn.red-bd,
input.yee-btn.red-bd {
  color: #ec5051;
}
a.yee-btn.green,
input.yee-btn.green {
  color: #fff;
  background: #2FBC5E;
}
a.yee-btn.green-bd,
input.yee-btn.green-bd {
  color: #2FBC5E;
}
a.yee-btn.yellow,
input.yee-btn.yellow {
  color: #fff;
  background: #ffd031;
}
a.yee-btn.yellow-bd,
input.yee-btn.yellow-bd {
  color: #ffd031;
}
a.yee-btn.org,
input.yee-btn.org {
  color: #fff;
  background: #F90;
}
a.yee-btn.org-bd,
input.yee-btn.org-bd {
  color: #F90;
}
a.yee-btn.org2,
input.yee-btn.org2 {
  color: #fff;
  background: #F60;
}
a.yee-btn.org2-bd,
input.yee-btn.org2-bd {
  color: #F60;
}
a.yee-btn.normal,
input.yee-btn.normal {
  color: #888;
  background: #e1e1e1;
}
a.yee-btn.disabled,
input.yee-btn.disabled,
a.yee-btn.disabled:hover,
input.yee-btn.disabled:hover,
a.yee-btn[disabled],
input.yee-btn[disabled],
a.yee-btn[disabled]:hover,
input.yee-btn[disabled]:hover {
  background: #f7f7f7;
  color: #999;
  border: 0.5px solid #e1e1e1;
}
a.yee-btn.trans,
input.yee-btn.trans {
  height: 22px;
  line-height: 22px;
  padding: 2px 7px 2px 20px;
  color: #888;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  border: none;
  background-color: transparent;
}
a.yee-btn.trans:hover,
input.yee-btn.trans:hover {
  color: #000;
  background-color: #e1e1e1;
}
a.form-btn:hover,
input.form-btn:hover {
  opacity: 1;
}
a.form-btn.blue,
input.form-btn.blue {
  border: 0.5px solid #257faf;
  color: #fff;
  background: #257faf;
}
a.form-btn.blue-bd,
input.form-btn.blue-bd {
  border: 0.5px solid #257faf;
  color: #257faf;
}
a.form-btn.violet,
input.form-btn.violet {
  border: 0.5px solid #C69;
  color: #fff;
  background: #C69;
}
a.form-btn.violet-bd,
input.form-btn.violet-bd {
  border: 0.5px solid #C69;
  color: #C69;
}
a.form-btn.red,
input.form-btn.red {
  border: 0.5px solid #ec5151;
  color: #fff;
  background: #ec5151;
}
a.form-btn.red-bd,
input.form-btn.red-bd {
  border: 0.5px solid #ec5051;
  color: #ec5051;
}
a.form-btn.green,
input.form-btn.green {
  border: 0.5px solid #2FBC5E;
  color: #fff;
  background: #2FBC5E;
}
a.form-btn.green-bd,
input.form-btn.green-bd {
  border: 0.5px solid #2FBC5E;
  color: #2FBC5E;
}
a.form-btn.yellow,
input.form-btn.yellow {
  border: 0.5px solid #ffd031;
  color: #fff;
  background: #ffd031;
}
a.form-btn.yellow-bd,
input.form-btn.yellow-bd {
  border: 0.5px solid #ffd031;
  color: #ffd031;
}
a.form-btn.org,
input.form-btn.org {
  border: 0.5px solid #F90;
  color: #fff;
  background: #F90;
}
a.form-btn.org-bd,
input.form-btn.org-bd {
  border: 0.5px solid #F90;
  color: #F90;
}
a.form-btn.org2,
input.form-btn.org2 {
  border: 0.5px solid #F60;
  color: #fff;
  background: #F60;
}
a.form-btn.org2-bd,
input.form-btn.org2-bd {
  border: 0.5px solid #F60;
  color: #F60;
}
a.form-btn.normal,
input.form-btn.normal {
  border: 0.5px solid #e1e1e1;
  color: #888;
  background: #e1e1e1;
}
a.form-btn.disabled,
input.form-btn.disabled,
a.form-btn.disabled:hover,
input.form-btn.disabled:hover,
a.form-btn[disabled],
input.form-btn[disabled],
a.form-btn[disabled]:hover,
input.form-btn[disabled]:hover {
  background: #f7f7f7;
  color: #999;
  border: 0.5px solid #e1e1e1;
}
a.form-btn.trans,
input.form-btn.trans {
  height: 22px;
  line-height: 22px;
  padding: 2px 7px 2px 20px;
  color: #888;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  border: none;
  background-color: transparent;
}
a.form-btn.trans:hover,
input.form-btn.trans:hover {
  color: #000;
  background-color: #e1e1e1;
}
a.senior-btn {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  margin-left: 5px;
  border: none;
  background-color: transparent;
}
a.senior-btn i:before {
  font-weight: normal;
  font-style: normal;
  font-family: 'YeeFont' !important;
  content: "\eb53";
}
.yee-search.senior .senior-btn i:before {
  content: "\eb56";
}
.yee-list-search a.form-btn,
.yee-list-search input.form-btn {
  padding: 0 15px;
  margin-right: 5px;
}
div.yee-btn-warp {
  position: relative;
  display: inline-block;
  margin: 1px 0;
}
div.yee-btn-menu {
  position: fixed;
  padding: 10px;
  background: #fff;
  min-width: 100px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999999;
}
div.yee-btn-menu span.arrow {
  position: absolute;
  line-height: 0px;
  width: 8px;
  height: 8px;
  top: 10px;
  right: -4px;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
  display: block;
  background: #fff;
}
div.yee-btn-menu a.yee-btn {
  display: block;
  border-radius: 0px;
  margin: 3px;
  border: none;
  text-align: center;
}
div.yee-btn-menu a.yee-btn:hover.blue-bd,
div.yee-btn-menu a.yee-btn:hover.red-bd,
div.yee-btn-menu a.yee-btn:hover.green-bd,
div.yee-btn-menu a.yee-btn:hover.purple-bd,
div.yee-btn-menu a.yee-btn:hover.yellow-bd,
div.yee-btn-menu a.yee-btn:hover.org-bd,
div.yee-btn-menu a.yee-btn:hover.org2-bd,
div.yee-btn-menu a.yee-btn:hover.normal {
  background: #e1e1e1;
}
.yee-transfer {
  min-height: 300px;
  min-width: 500px;
  position: relative;
  width: 600px;
}
.yee-transfer .trans-search {
  padding: 0 0 5px 0;
  height: 32px;
  line-height: 32px;
}
.yee-transfer .trans-search input {
  margin-right: 5px;
}
.yee-transfer .trans-main {
  position: absolute;
  height: calc(100% - 38px);
  width: 100%;
}
.yee-transfer .trans-left {
  position: absolute;
  height: 100%;
  width: calc(50% - 30px);
  top: 0;
  left: 0;
}
.yee-transfer .trans-middle {
  position: absolute;
  height: 100%;
  width: 60px;
  top: 0;
  left: calc(50% - 30px);
  text-align: center;
}
.yee-transfer .trans-right {
  position: absolute;
  height: 100%;
  width: calc(50% - 30px);
  top: 0;
  right: 0;
}
.yee-transfer .trans-head {
  height: 32px;
  line-height: 32px;
  background: #f8f8f8;
  padding: 0px 10px;
  border: 1px #e6eaee solid;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.yee-transfer .trans-head input {
  vertical-align: middle;
  margin-right: 10px;
}
.yee-transfer .trans-caption {
  font-size: 14px;
}
.yee-transfer .trans-count {
  color: #999;
  font-size: 9px;
  float: right;
}
.yee-transfer .trans-warp {
  height: calc(100% - 70px);
  overflow-y: auto;
  background: #fff;
  box-sizing: border-box;
  border-left: 1px #e6eaee solid;
  border-right: 1px #e6eaee solid;
}
.yee-transfer .trans-warp::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-radius: 10px;
}
.yee-transfer .trans-warp::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 2px;
}
.yee-transfer .trans-warp::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 2px;
}
.yee-transfer .trans-warp::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}
.yee-transfer .trans-warp::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
.yee-transfer .trans-right .trans-warp {
  height: calc(100% - 38px);
  border-bottom: 1px #eee solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.yee-transfer .trans-list {
  font-size: 12px;
}
.yee-transfer .trans-item {
  line-height: 20px;
  padding: 4px 10px;
  cursor: pointer;
}
.yee-transfer .trans-item.selected {
  color: #ccc;
}
.yee-transfer .trans-item:hover {
  background: #f7f7f0;
}
.yee-transfer .trans-box {
  width: 20px;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.yee-transfer .trans-box input {
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 0;
}
.yee-transfer .trans-text {
  margin-left: 20px;
  display: block;
  cursor: pointer;
}
.yee-transfer .trans-text:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.yee-transfer .trans-foot {
  height: 32px;
  line-height: 32px;
  background: #ffffff;
  border: 1px #eee solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: right;
  padding: 0 10px;
}
.yee-transfer .trans-btn-warp {
  position: absolute;
  top: calc(50% - 35px);
  left: 15px;
}
.yee-transfer .trans-inc-btn,
.yee-transfer .trans-dec-btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  display: block;
  background: #f7f7f7;
  border: 1px #e6eaee solid;
  border-radius: 5px;
  cursor: pointer;
}
.yee-transfer .trans-inc-btn {
  font-family: "YeeFont" !important;
}
.yee-transfer .trans-dec-btn {
  font-family: "YeeFont" !important;
  margin-top: 10px;
}
.yee-transfer .trans-inc-btn:before {
  content: "\ea98";
}
.yee-transfer .trans-dec-btn:before {
  content: "\ea97";
}
.yee-transfer .trans-pagebar {
  display: inline-block;
  margin-top: 5px;
}
.yee-transfer .trans-pagebar .break,
.yee-transfer .trans-pagebar a,
.yee-transfer .trans-pagebar b {
  text-decoration: none;
  color: #333;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  float: left;
  margin-right: 3px;
  padding: 2px 1px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.yee-transfer .trans-pagebar .break {
  background: 0 0;
  cursor: default;
}
.yee-transfer .trans-pagebar a:hover {
  color: #1E9FFF;
}
.yee-transfer .trans-pagebar b {
  color: #1E9FFF;
}
.yee-transfer .trans-pagebar .page-btn {
  font-family: "YeeFont" !important;
}
.yee-transfer .trans-pagebar .page-btn.prev:before {
  content: "\ea9d";
}
.yee-transfer .trans-pagebar .page-btn.next:before {
  content: "\eaa0";
}
.yee-transfer .trans-pagebar .page-btn.first:before {
  content: "\ea97";
}
.yee-transfer .trans-pagebar .page-btn.last:before {
  content: "\ea98";
}
.scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.scrollbar::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  -webkit-box-shadow: inset 0 0 5px rgba(222, 222, 222, 0.2);
  background: #cacaca;
  border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: #EDEDED;
}
/*# sourceMappingURL=yeeui.css.map */